/*************
CSS GLOBAL
**************/
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Unicase:wght@700&family=Open+Sans:wght@400;700&display=swap");

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", sans-serif;
  line-height: 160%;
}

h1,
h2,
h3 {
  font-family: "Cormorant Unicase", serif;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 25px;
}

main > section {
  margin-top: 80px;
}

img[src*="logo"] {
  height: 100px;
}

/**************
CSS GENERAL
***************/

.container {
  max-width: 1060px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

/**************
CSS PAR SECTION
***************/
/*****SECTION HEADER*****/
header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.1)),
    url(../img/perso.jpeg);
  background-size: cover;
  background-position: center;
  color: white;
  padding: 20px 0;
}

header nav {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Cormorant Unicase", serif;
  font-size: 18px;
}

header nav * {
  margin: 0 15px;
}

header .txt {
margin: 150px 0 180px;
text-align: center;
}

header h1 {
  font-size: 60px;
}

/**************
SECTION MAIN
***************/

/*****SECTION AVENTURE*****/
#adventure h2, #adventure p {
  display: flex;
  align-items: center;
  flex-direction: column;
}

#adventure ol {
  padding-left: 0;
  display: flex;
  justify-content: space-between;
  counter-reset: perso-counter;
  list-style: none;
  margin-top: 50px;
}

#adventure ol li {
  counter-increment: perso-counter;
  position: relative;
  width: 30%;
}

#adventure ol li h3 {
  margin-left: 20px;
}

#adventure ol li::before {
  content: "0" counter(perso-counter);
  font-weight: bold;
  font-family: "Cormorant Unicase", serif;
  position: absolute;
  color: rgba(79, 17, 34, 0.2);
  font-size: 90px;
  top: 10px;
}