/**********************
CSS GLOBALE
***********************/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,900&display=swap');

.btn {
  background-color: rgb(124, 40, 99);
  padding: 8px 12px;
}

.btn:hover {
  background-color: (86, 21, 66);
}

/**********************
TYPOGRAPHIE
***********************/
body {
  font-family: 'Montserrat', sans-serif;
}

/**********************
CSS GENERAL
***********************/

img[src*='@2x'] {
  width: 40px;
}

/**********************
CSS PAR SECTION
**********************/

/**********************
SECTION HEADER
**********************/
header {
  background-image: linear-gradient(
      to top right,
      rgba(124, 40, 99, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url(img/fitness.jpg);
  background-size: cover;
  background-position: center top;
  background-attachment: fixed;
  color: white;
  text-align: center;
  padding: 20px;
}

header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header nav img {
  width: 60px;
}

header nav ul li {
  display: inline-block;
  padding-right: 30px;
}

header div {
  text-align: center;
  margin: 100px 0 200px;
}

header div h1 {
  font-size: 80px;
  font-style: italic;
  font-weight: 900;
  text-transform: uppercase;
  display: inline-block;
  margin: 0;
  line-height: 100%;
}

header div p {
  font-weight: 700;
  font-size: 20;
  margin-top: 1%;
}

/*************************
SECTION IMAGE SOUS HEADER
*************************/
.crossfit {
  background-image: linear-gradient(
      to top right,
      rgba(124, 40, 99, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url(img/fitnessman.jpg);
  background-size: cover;
  background-position: center;
  text-align: center;
  color: white;
  padding: 70px 100px;
}

.fullboy {
  background-image: linear-gradient(
      to top right,
      rgba(124, 40, 99, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url(img/fitnesswoman.jpg);
  background-size: cover;
  background-position: center;
  text-align: center;
  color: white;
  padding: 70px 100px;
}

.sousHeader {
  display: flex;
  justify-content: center;
  margin-top: -120px;
}

/*********************
SECTION OBJECTPROG
**********************/
.objectProg {
  text-align: center;
  margin-top: 80px;
  margin-bottom: 80px;
}

/************************
SECTION QUATREIMAGES
*************************/
.quatreImages nav ul {
  display: flex;
  padding: auto;
  margin: auto;
  flex-wrap: wrap;
}

.quatreImages nav ul li {
  width: 25%;
  text-align: center;
  border-top: rgb(208, 207, 207) solid 1px;
  border-left: rgb(208, 207, 207) solid 1px;
  padding-bottom: 30px;
  padding-top: 30px;
}

.quatreicones nav ul li:first-child {
  border-left: none;
}

.quatreicones nav ul li img {
  width: 40px;
  margin-top: 50px;
}

/************************
SECTION FITNESS
*************************/
.fitness {
  background-image: linear-gradient(
      to right,
      rgba(124, 40, 99, 0.233) 60%,
      rgb(0, 0, 0) 40%
    ),
    url(img/crossfit.jpg);
  background-size: cover;
  background-position: center;
  padding: 100px 10px;
  color: white;
}

.fitness div {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  margin-right: 50px;
  margin-left: 70%;
}

.fitness h1 {
  margin-left: -70%;
}

.fitness div a {
  display: flex;
  margin-right: 70%;
}

/************************
SECTION SIX IMAGES
*************************/

.sixImages nav ul {
  display: flex;
  padding: auto;
  margin: auto;
  flex-wrap: wrap;
}

.sixImages nav ul li {
  display: flex;
  width: calc(100% / 3);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px, 30px;
}

.sixImages li:nth-child(2n + 1) {
  background-color: rgba(128, 128, 128, 0.5);
}

.sixImages p {
  display: flex;
  text-align: center;
  margin-left: 50px;
  margin-right: 50px;
}

/************************
SECTION FOOTER
*************************/
footer{
  background: black;
  border-top: 10px solid rgb(124, 40, 99);
  color: white;
  padding: 20px 0;
}

/*footer .container {} */
footer {
  background: black;
  border-top: 10px solid rgb(124, 40, 99);
  color: white;
  padding: 20px 0;
}

footer > div {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

footer article {
  width: 25%;
  text-align: right;
}
footer article img {
  height: 60px;
}
footer article a {
  margin: 0 5px;
  font-size: 20px;
}

footer form {
  width: 45%;
  background: white;
  color: black;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 50px;
  margin-top: -100px;
  position: relative;
  z-index: 1;
  box-shadow: 0 -3px 10px rgba(0, 0, 0, 0.3);
}
footer form h2 {
  text-transform: uppercase;
}

footer form input:not([type="submit"]) {
  width: 100%;
  margin: 20px 0;
  border: none;
  border-bottom: 1px solid black;
  padding: 5px;
}
footer form ::placeholder {
  color: black;
  font-size: 13px;
}
footer form input[type="submit"] {
  color: white;
  border: none;
  cursor: pointer;
  margin-top: 20px;
}

footer ul {
  width: 25%;
}

footer ul li {
  display: flex;
  align-items: baseline;
}
footer ul li i {
  color: rgb(124, 40, 99);
  margin-right: 15px;
}
footer ul li h3 {
  text-transform: uppercase;
  font-size: 13px;
}

/******************************
        RESPONSIVE
******************************/

@media (min-width: 768px) and (max-width: 990px) {
  main #services li:nth-of-type(odd) {
    background-color: white;
  }
  main #services li {
    width: 50%;
  }
  main #services li:nth-of-type(2),
  main #services li:nth-of-type(3),
  main #services li:nth-of-type(6) {
    background-color: rgb(235, 235, 235);
  }
}

@media (max-width: 767px) {
  .container {
    width: 90%;
  }

  /*********** menu mobile**********/
  header nav {
    background: rgb(124, 40, 99);
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    padding: 10px 20px;
  }
  header nav ul {
    height: 0;
    overflow: hidden;
    display: block;
    position: absolute;
    width: 100%;
    left: 0;
    top: 60px;
    background: rgb(124, 40, 99);
    padding: 10px;
  }
  header nav ul li {
    width: 100%;
    padding: 20px;
    margin-left: 0;
    text-transform: uppercase;
    text-align: center;
  }

  header nav #burger {
    display: block;
    appearance: none;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    color: white;
    font-size: 30px;
    cursor: pointer;
  }
  header nav #burger::before {
    content: "\f0c9";
  }
  header nav #burger:checked::before {
    content: "\f00d";
  }
  header nav #burger:checked + ul {
    height: auto;
  }

  /*********************************/

  main #fitclub {
    background: black;
    padding: 80px;
  }
  main #fitclub article {
    width: 100%;
  }
  main #fitclub article h2 {
    margin-left: 0;
  }

  main #objectives ul li {
    width: 50%;
  }

  main #programs a {
    width: 100%;
  }

  main #services li {
    width: 100%;
  }

  footer > div > * {
    width: 100%;
  }

  footer article {
    margin: 50px 0;
    text-align: center;
  }

  footer form {
    order: -1;
  }
}