    /**********************
    *   CSS GENERAL
    ***********************/


header
{
    background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), 
    url("https://fr.shopping.rakuten.com/photo/1254787834.jpg");
   
    background-size:cover;
    background-position: center;
    text-align: center;
    color: rgb(105, 38, 7);
    padding: 150px 50px;
}

h1
{
    font-family: 'Aref Ruqaa', serif;
    font-size: 50px;
    margin:0;
}

h2
{
    font-family: 'Urbanist', sans-serif;
}

    /*********************
    *   CSS PAR SECTION
    **********************/
#Concept ul {
    list-style: none;
    padding-left: 0;
    display: flex;
    justify-content: space-evenly;
}

#Concept {
    text-align: center;
}

#Concept h2 {
    margin : 50px auto;
}

#Concept ul li {
    width: 25%;
    list-style: none;
}

#sanglier {
    display: flex;
    margin-top: 70px;
}

#sanglier img {
    width: 30%;
    margin-right: 50px;
    }

/*****************
* CLASSES GLOBALES
******************/

.btn {
    text-decoration:none;
    background-color:olive;
    color: white;
    padding: 10px 15px;
    border-radius: 8px;
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.25);
    display: inline-block;
    margin-top: 10px;
    transition: all 0.3s ease;
}

.btn:hover {
    background-color: red;
    border-radius: 50px;
}
